[data-name="cube2x2x2"] .face {
    font-size: 1.4rem;
}

[data-name="cube3x3x3"] .face {
    font-size: 1.05rem;
}

[data-name="mirror3x3x3"] .face {
    font-size: 1.05rem;
}

[data-name="cube3x3x1"] .face {
    font-size: 1.15rem;
}

[data-name="cube4x4x4"] .face {
    font-size: 0.85rem;
}

[data-name="cube3x3x4"] .face,
[data-name="cube3x3x5"] .face {
    font-size: 0.9rem;
}