 .menu-section {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     max-height: calc(100vh - 10.5rem);
     max-height: calc(100dvh - 10.5rem);
     overflow: auto;
     scrollbar-width: none;
 }

 .sub-menu {
     display: flex;
     gap: 0.8rem;
     justify-content: center;
     align-content: flex-end;
 }

 .fixed-size {
     max-height: 2.25rem;
     min-width: 2.25rem;
     overflow: auto;
 }

 .fixed-position {
     position: fixed;
     top: 4.25rem;
     /* mix-blend-mode: difference; */
 }

 .row-container {
     align-items: center;
     overflow: auto;
     padding: 0 1em;
 }

 .column-container {
     flex-direction: column;
 }